<!-- <ng2-smart-table [settings]="settings" [source]="data"  ></ng2-smart-table> -->

<!-- <div *ngFor="let item of payments">
    <table>
        <td>{{ item.netto }}</td>
        <th>{{ item.vat }}</th>
        <th>{{ item.netto }}</th>
        <th>{{ item.contractor }}</th>
        <th>{{ item.description }}</th>
        <button (click)="deletePayment(item)"> delete</button>
        <a routerLink="/detail">Details</a>
    </table>
</div> -->

<div class="container">
  <h2>Payments</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">position name</div>
      <div class="col col-2">NETTO</div>
      <div class="col col-3">VAT</div>
      <div class="col col-4">Payment Status</div>
      <div class="col col-4"></div>
    </li>
    <div *ngFor="let item of payments">
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">{{ item.position }}</div>
        <div class="col col-2" data-label="Customer Name">{{ item.netto }}</div>
        <div class="col col-3" data-label="Amount">{{ item.vat }}</div>
        <div class="col col-4" data-label="Payment Status">
          {{ item.contractor }}
        </div>
        <button (click)="deletePayment(item)">delete</button>
        <!-- <button routerLink="/detail/{{ item.Id }}">update</button> -->
      </li>
    </div>
  </ul>
</div>

<!-- <nav>
    <a routerLink="/create">create</a>
    
</nav>
<div *ngFor="let item of payments">
    <table>
        <td>{{ item.netto }}</td>
        <th>{{ item.vat }}</th>
        <th>{{ item.netto }}</th>
        <button (click)="deletePayment(item)"> delete</button>
        <a routerLink="/detail">Details</a>
    </table>
 
  <!-- <button (click)="updatePayment(item)"> Update</button>
       -->
<!-- </div> -->
