.container_input {
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    padding-top: 3rem;   
    background-color: rgb(130, 129, 131); 
}
.input{
    width: 100%;
}
.form_group{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
      width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: burlywood;
    border: 1px solid ;
    transition: border .3s ease;

}
.form-field {
    
    border-radius: 2px;
    background-color: chartreuse;
    align-items: center;
    padding: 10, 20;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 10;
    margin-bottom: 10;
}

input[type=text]{
    border-radius: 2px;
    background-color: chartreuse;
   
    
    margin-top: 10;
    margin-bottom: 10;
}
input[type=number] {
    border-radius: 2px;
    background-color: rgb(163, 143, 101);
   
    
    margin-top: 10;
    margin-bottom: 10;
}