<div class="container_input">
    <div class="form_group">
       
            <input   type="number" [(ngModel)]="netto" placeholder="netto" />
        
        <div class="form_field">
            <input  type="text" [(ngModel)]="position" placeholder="position" />
        </div>
        <div class="form_field">
            <input  type="text" [(ngModel)]="contractor" placeholder="contractor" />
        </div>
        <div class="form_field">
            <input  type="text" [(ngModel)]="description" placeholder="description" />
    
        </div>
     
      
    </div>
 
      
    
    
        <mat-form-field  >
            <mat-label>SELECT</mat-label>
                <mat-select [(ngModel)]="vat" >
                    <mat-option value="23">23</mat-option>
                    <mat-option value="7">7</mat-option>
                </mat-select>
        </mat-form-field>

       
      
      
    
    
    <button (click)="addPayment()">ADD</button>

</div>
      
    