

<div class="container">
    <header class="header">
        <div class="">
            <div class="header_iner">
                <div class="header_logo"> MyPay</div> 
                <nav class="navbar">
                    <a class="nav_link" routerLink="/">About</a>
                    <a class="nav_link" routerLink="/create">Create</a>
                    <a class="nav_link" routerLink="/payments">Payments</a>
                </nav>
            </div>
        </div>
    </header>
</div>




<div class="container">
    <app-create-payment></app-create-payment>
    <router-outlet></router-outlet>

</div>


    




  
 



