


<div class="container">
    
    <div>
        <mat-label>Input</mat-label>
        <input matInput>
        <input type="number"  placeholder="netto">
    </div>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
    <div>
        <input type="text" placeholder="position">
    </div>
    <div>
        <input type="text" placeholder="contractor">
    </div>
    <div>
        <input type="text"  placeholder="description">
    </div>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field> -->
</div>