.container {
    width: 100%;
   
    margin: 0 auto;
    padding-top: 3rem;
    
}
.intro {
    width: 1280;   
    height: 35vh;  
    top: 0;    
    right: 0;
    background: url("./../../assets/Savin-NY-Website-Background-Web.jpg") center  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    

}